<!DOCTYPE HTML>
<html ng-app="rimekit">
<head>
  <meta charset="utf-8">
  <title>Rime 工具箱</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="rimekit.css">
  <script src="angular.min.js"></script>
  <script src="ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('rimekit', ['ui.bootstrap']);
  </script>
  <script src="rimekit.js"></script>
</head>
<body>
  <div ng-controller="MainCtrl">
    <tabset>
      <tab heading="起始頁">
        <div class="hero-unit">
          <h2>Rime 工具箱
            <small>分享打字的樂趣</small>
          </h2>
          <ul class="unstyled">
            <li>逛輸入方案倉庫，找到適合你的輸入法</li>
            <li>選取所需的配方，輕鬆完成輸入法設定</li>
          </ul>
          <div>
            <a class="btn btn-large btn-primary" ng-click="tabs.brise.active = true">開始</a>
          </div>
        </div>
        <div>
          <ul class="inline nav nav-pills">
            <li>
              <a href="http://code.google.com/p/rimeime/">Rime 項目主頁</a>
            </li>
            <li>
              <a href="http://rimeime.github.io">Rime 部落格</a>
            </li>
          </ul>
        </div>
      </tab>
      <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
        <div ng-include="tab.source"></div>
      </tab>
    </tabset>
  </div>
</body>
</html>
