label {
  display: inline-block;
  width: 120px;
  text-align: right;
}
.btn {
  width: 100px;
}
.code {
  font-family: monospace;
}
.error-false {
  color: blue;
}
.error-true {
  color: red;
}
